<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>The Experiment Factory, Welcome!</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/favicon.ico') }}">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
</head>

<body>
<div class="image-container set-full-height" style="background-color:white">
    <a href="https://github.com/expfactory" target="_blank">
        <div class="logo-container">
            <div class="logo">
                <img src="{{ url_for('static',filename='img/expfactoryticketyellow.png') }}" width="150px">
            </div>
        </div>
    </a>
    
    <!--   Big container   -->
  <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 style="text-align:right" class="page-header">The Experiment Factory
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Row Number One -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="http://expfactory.github.io/table.html">
                    <img class="img-responsive" src="http://placehold.it/700x400/1756E8/ffffff?text=EXPERIMENTS" alt="">
                </a>
                <h3>
                    <a href="http://expfactory.github.io/table.html">Browse Experiments</a>
                </h3>
                <p>Preview all the available experiments in the experiment factory, right in your browser.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/battery">
                    <img class="img-responsive" src="http://placehold.it/700x400/A52A2A/ffffff?text=BATTERY" alt="">
                </a>
                <h3>
                    <a href="/battery">Generate a Battery</a>
                </h3>
                <p>A "battery" is a collection of experiments that are presented together using <a href="https://psiturk.org/">psiturk</a>. You can deploy to a local folder, or a vagrant virtual machine, either local or for Amazon Web Services.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/experiments">
                    <img class="img-responsive" src="http://placehold.it/700x400/E9AB17/ffffff?text=API" alt="">
                </a>
                <h3>
                    <a href="/experiments">API</a>
                </h3>
                <p>Our experiments are available programatically via an Application Program Interface (API). See our <a href="https://expfactory.github.io/docs">documentation</a> for details. You can also <a href="https://github.com/expfactory/expfactory.github.io/tree/master/data">download</a> static data, for offline use.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Row Number Two -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="http://expfactory.readthedocs.org/en/latest/development.html#contributing-to-experiments">
                    <img class="img-responsive" src="http://placehold.it/700x400?text=TESTING" alt="">
                </a>
                <h3>
                    <a href="http://expfactory.readthedocs.org/en/latest/development.html#contributing-to-experiments">Test and Validate</a>
                </h3>
                <p>You can use our <a href="http://expfactory.readthedocs.org/en/latest/development.html#contributing-to-experiments" target="_blank">experiment robot and validation functions</a> to test new experiments.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="href="http://www.expfactory.org" target="_blank">
                    <img class="img-responsive" src="http://placehold.it/700x400?text=EXPFACTORY.ORG" alt="">
                </a>
                <h3>
                    <a href="http://www.expfactory.org" target="_blank">Expactory.org</a>
                </h3>
                <p>We will potentially be offering experiment deployment as a service. <a href="http://expfactory.org/signup">Sign up to be notified.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://www.github.com/expfactory">
                    <img class="img-responsive" src="http://placehold.it/700x400?text=CONTRIBUTE" alt="">
                </a>
                <h3>
                    <a href="http://www.github.com/expfactory" target="_blank">Contribute</a>
                </h3>
                <p>All of our code for <a href="http://www.github.com/expfactory/expfactory-experiments">experiments</a>, <a href="http://www.github.com/expfactory/expfactory-vm">virtual machines</a>, psiturk <a href="http://www.github.com/expfactory/expfactory-battery">battery generation</a>, and <a href="http://www.github.com/expfactory/expfactory-python">this application</a> are available on <a href="http://www.github.com/expfactory">Github</a>, and we are excited for your help and feedback.</p>
            </div>
        </div>

        <!-- ROW THREE
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; The Experiment Factory at Poldracklab 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
</body>
</html>
