<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Experiment Factory Game</title>
        {{css}}
        {{js}}
    </head>
    <body>
    <script type="text/javascript">

    this.data = {}
    this.taskdata = []

    function inputData(field, value) {
        this.data[field] = value
    }


    function sendData(trial) {
        inputData('trial', trial)
        this.taskdata.push(this.data);
       
        if (data.finished == 1) {

            setTimeout(function() { 
                var data = "text/json;charset=utf-8," + JSON.stringify(this.taskdata);
                var a = document.createElement('a');
                a.title = "Download"
                a.id = "download"
                a.type = "button"
                a.download = 'expfactory_result.json';
                a.href = 'data:' + data;
                $("#finished").show();
                $("#download").click(function(){
                    $("body").append(a)
                    a.click()
                })
            },2000)
        }

        this.data = {};

    }

    window.onload = function() {

      {{run}}

    }

    </script>
    <div id="finished" hidden>
      <button id="download" type="button" style="background-color:white;padding:10px; border-radius:5px">Download</button>
    </div>
    </body>
    
</html>
