<!DOCTYPE html><html class=''>
<head>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <title>The Experiment Factory: Survey</title>
    
{{css}}
</head>

<body>

{{js}}

{{html}}

<div class="navigation">
    <ul class="clearfix">
        <li><button type="button" name="backward" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent backward">Previous</button></li>
	<li><button type="button" name="forward" class="forward mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Next</button></li>
        <li><button type="submit" name="process" class="submit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Finish</button></li>
    </ul>
</div>

<div class="pad">
    <div id="progressbar"></div>
</div>
</form>
</div>

<script>
$( document ).ready(function() {

    expfactory_finished = false;

    // Basic wizard with progress bar
    $( "#progressbar" ).progressbar();
    $( "#questions" ).wizard({
        stepsWrapper: "#wrapped",
	submit: ".submit",
	beforeForward: function( event, state ) {

            // Function to add message that answer is required
            function is_required(elements){
                var missing = false;
                elements.each(function(index,element){
                    var pid = "#" + $(element).attr("name")
                    $(pid).css("color","red")
                    missing = true;                   
                });

                if (missing == true){
                   alert("Please answer all required questions in red.");
                }
            }

            {{validation}}

	    return !!$( this ).wizard( "form" ).valid();
        },
	afterSelect: function( event, state ) {
	    $( "#progressbar" ).progressbar( "value", state.percentComplete );
            if (expfactory_finished == true){
                $(".submit").enable();
            }
        }

    // Form submission
    }).wizard( "form" ).submit(function( event ) {
	event.preventDefault();
        
        // Save data to browser
        var $inputs = $("input:checked");
        var $text = $("input:text")
	var $number = $("input[type = number]")
        var $elements = $inputs.add($text).add($number)
        
        var results = []
        $elements.each(function(index, element) {
          var result = {}

          if ($.inArray( $(element).attr("name"), [ "forward", "backward", "process"] ) == -1) {
              result.name = $(element).attr("name");
              if ($(element).attr("value") == undefined) {
                result.value = $(element).val();
                } else {
                    result.value = $(element).attr("value");
                }
              result.options = $(element).attr("meta-options");
              result.text = $(element).attr("meta-text");
              results.push(result);
          }
        })

        var data = "text/json;charset=utf-8," + JSON.stringify(results);
        var a = document.createElement('a');
        a.title = "Download"
        a.id = "download"
        a.type = "button"
        a.download = 'expfactory_result.json';
        a.href = 'data:' + data;
        $(".submit").html("Download")
        $(".submit").click(function(){
            $("body").append(a)
            a.click()
        })


     // Validation
     }).validate({
	errorPlacement: function( error, element ) {
	    if ( element.is( ":radio" ) || element.is( ":checkbox" ) ) {
		error.insertBefore( element.next() );
            } else {
	        error.insertAfter( element );
	 }
      }
  });
});
</script>
</body>
</html>
